Fifteen Solver.xcodeproj/project.xcworkspace/xcuserdata/kacperharasim.xcuserdatad/UserInterfaceState.xcuserstate
Fifteen Solver.xcodeproj/xcuserdata/kacperharasim.xcuserdatad/xcschemes/xcschememanagement.plist
